html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background: black;
}

.card {
    outline: 3px solid #C9DAF8;
    background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25%;
    margin-bottom: 6.25%;
}

.horizImg {
    width: 344px;
    height: 194px;
    margin: auto auto;
}

.horizCard {
    width: 405px;
    height: 268px;
}

.squareImg {
    width: 152px;
    height: 152px;
    margin: auto auto;
}

.squareCard {
    width: 177px;
    height: 177px;
}

.interviewCard {
    width: 186px;
    height: 352px;
}

.container {
    width: 800px;
}

p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25%;
    margin-bottom: 6.25%;
}

h1 {
    font-family: 'Montserrat';
    font-size: 64px;
    color: #C9DAF8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25%;
    margin-bottom: 6.25%;
}

h2 {
    font-family: 'Orbitron';
    font-size: 24px;
    color: #E69138;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 6.25%;
}

a {
    font-family: 'Orbitron';
    font-size: 14px;
    color: #C9DAF8;
    text-decoration: none;
}

button {
    font-family: 'Orbitron';
    font-size: 18px;
    color: #E69138;
    margin-left: auto;
    margin-right: auto;
}

.nonCardContent {
    width: 800px;
}

.avatarImg {
    width: 152px;
    height: 152px;
    margin: auto auto;
}

#mobImg {
    height: 227px;
    width: 136px;
    margin: auto auto;
    outline: 1px solid silver;
}

.jumbotron {
    position: relative;
  text-align: center;
  color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#navContainer {
    display: inline-block;
    position: fixed;
    width: 66px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #C9DAF8;
    box-sizing: border-box;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
.mainNav {
    /*homework code: width: 73%;*/
    position: fixed;
    width: 64px;
    height: 99%;
    background-color: black;
    z-index: 2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
.topBar {
    position: relative;
    margin-top: 10px;
    height: 120px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
.logo {
    margin-left: auto;
  margin-right: auto;
  }